.card-top{
    padding: 10px 10px;
    font-size: 24px;
    color: red;
    background-color: white;
    height: 90px;
}.card-bottom{
    padding: 10px 10px;
    font-size: 24px;
    color: red;
    background-color: white;
    height: 70px;
    margin-top: 1rem;
}
.go-homes{
    background-color: rgb(34, 199, 199);
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 17rem;
  }
  .contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* max-width: 600px;
     */
    width: 70%;
    height: 300px;
    margin: 50px auto;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .link-item {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: white;
  }
  
  .email {
    background-color: #d44638;
  }
  
  .facebook {
    background-color: #4267B2;
  }
  
  .phone {
    background-color: #4CAF50;
  }
  
  .snapchat {
    background-color: #FFFC00;
    color: black;
  }
  
  .link-item:hover {
    opacity: 0.8;
  }