.crypto-top{
    padding: 10px 10px;
    font-size: 24px;
    color: red;
    background-color: white;
    height: 80px;
    margin-top: 1rem;
}
.crypto-main{
    padding: 10px 10px;
    /* font-size: 15px; */
    color: black;
    background-color: white;
    height: 100px;
    margin-top: 0.5rem;
}
.crypto-main b{
    color: black;
    font-size: 25px;
    /* text-decoration: underline; */

}
.crypto-main span{
    color: grey;
    word-wrap: break-word;
    font-size: 20px;
    word-spacing: 20px;
    width: 100%;
    text-decoration: none !important;
    margin-top: 0.5rem;


}
.crypto-info{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-direction: column;
    margin-top: 1rem;
    /* max-width: 100%; */
    width: 100%;
    /* word-wrap: break-word;
    overflow-wrap: break-word */

}
.crypto-infos{
    padding: 10px 10px;
    font-size: 24px;
    color: red;
    background-color: white;
    height: 60px;
}
