.help-top{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: black;
    /* height: 10px;
    width: 100%; */
    margin-bottom: 4rem;
    line-height: 25px;
}
.help-top h6{
    color: red;
    font-size: 16px;
}
.help-page {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .help-page h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .faq-item {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .faq-item h2 {
    margin: 0 0 10px 0;
    color: #5c3b94;
  }
  
  .faq-item p {
    margin: 0;
    color: #666;
  }

  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .help-page {
      padding: 10px;
    }
    .faq-item {
      padding: 10px;
    }
  }
 