@media (max-width: 767px) {
.header-body{
    background-image: url(../images/sure5.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.header-title{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.header-title h2{
    font-size: 50px;
    /* margin-top: 5vh; */
    color: rgb(34, 199, 199);
}
.header-details{
    margin-top: 10vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    justify-content: center;
    padding: 25px;
}
.header-details h4{
    color: rgb(229, 180, 83);
    font-size: 20px;
}
.header-details h6{
    font-size: 15px;
    color: rgb(250, 242, 242);
    font-family: cursive;
    display: flex;
    justify-content: center;
}
.header-details h5{
    font-size: 20px;
    color: rgb(229, 180, 83);
    display:flex;
    justify-content: end;
    /* margin-left: 10vh; */
}

.header-register{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-register p{
    font-size: 30px;
    font-weight: 300;

}
.review-body{
    width: 100%;
    background-color: rgb(18, 22, 22);
   height: 80vh;
   /* padding: 10px; */
  
}
.rv{
    width:100%;
    height:35vh;

}

.rv h4{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 70.38px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    ;
}
.rv-container{
    height: 25vh;
     width: 100%;
     display: flex;
     justify-content: space-around;
     gap: 10px;
     /* flex-wrap: wrap; */
    background-color: rgb(34, 199, 199);
    flex-direction: row;
     overflow-x: scroll;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
}
.rv-content{
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
    flex: 0 0 65%;
    scroll-snap-align: start;
    background-color: white;
    border-radius: 30px;

}
.rv-container2{
    height: 25vh;
     width: 100%;
     display: flex;
     justify-content: space-around;
     gap: 10px;
     /* flex-wrap: wrap; */
     flex-direction: row;
    background-color: rgb(34, 199, 199);
     overflow-x: scroll;
     margin-top: 3rem;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;

}
.rv-content2{
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    margin-top: 1.2rem;
    margin-left: 1rem;
    flex: 0 0 65%;
    scroll-snap-align: start;
    background-color: white;
    border-radius: 30px;

}
.contact-body{
    background-color: pink;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-logo{
    size: lg;
    
}
.authent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.log-button{
    font-size: 20px;
    color: white;
    background-color: rgb(34, 199, 199);
    height: 3rem;
    width: 6rem;
    margin-top: 2rem;
    outline: white solid;
    border-radius: 5px;
}
.review-main
{
    display: flex;
    width: 100%;
}
}
@media (min-width: 768px) and (max-width: 1024px){

}
@media (min-width: 1025px){

}