@media (max-width: 767px)
 {
    .header-register{
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .header-register p{
        font-size: 30px;
        font-weight: 300;
    
    }
.rv{
    width:100%;
    height:35vh;

}

.rv h4{
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 70.38px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    ;
}
.rv-container{
    height: 25vh;
     width: 100%;
     display: flex;
     justify-content: space-around;
     gap: 10px;
     /* flex-wrap: wrap; */
    background-color: rgb(34, 199, 199);
    flex-direction: row;
     overflow-x: scroll;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;
}
.rv-content{
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
    flex: 0 0 65%;
    scroll-snap-align: start;
    background-color: white;
    border-radius: 30px;

}
.rv-container2{
    height: 25vh;
     width: 100%;
     display: flex;
     justify-content: space-around;
     gap: 10px;
     /* flex-wrap: wrap; */
     flex-direction: row;
    background-color: rgb(34, 199, 199);
     overflow-x: scroll;
     margin-top: 3rem;
     border-top-left-radius: 30px;
     border-bottom-left-radius: 30px;

}
.rv-content2{
    height: 80%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    margin-top: 1.2rem;
    margin-left: 1rem;
    flex: 0 0 65%;
    scroll-snap-align: start;
    background-color: white;
    border-radius: 30px;

}
.contact-body{
    background-color: pink;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-logo{
    size: lg;
    
}

.log-button{
    font-size: 20px;
    color: white;
    background-color: rgb(34, 199, 199);
    height: 3rem;
    width: 6rem;
    margin-top: 2rem;
    outline: white solid;
    border-radius: 5px;
}
.review-main
{
    display: flex;
    width: 100%;
}
}
@media (min-width: 768px) and (max-width: 1024px){
    
}
@media (min-width: 1025px){

}