@media (max-width: 767px) {
    .main h3{
    color: azure;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.profiles h2{
    color: blue;
    font-size: larger;
}
.hooker-profile{
    /* margin-top: 20px; */
    width: 100%;
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image:url(../images/sure-10.webp); */
    background-size: cover;
}
.hookes{
    margin-top: 20px;
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10%;

}
.hookes img {
    width: 90%;
    height: 45vh;
    display: flex;
    justify-content: center;
}
.hookes p{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(39, 25, 143);
}
.view-more{
    width: 100%;
    height: 50px;
    display: flex;
    /* align-self: center; */
    justify-content: space-between;
    margin-top: 4rem;
}
.btn-help{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    color: #007bff;
    font-size: 18px;
}
.colored-circle {
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    background-color: green;
    height: 15px;
    width: 15px;
  }
.premium h2{
    /* margin-top: 5vh; */
    color: rgb(9, 128, 232);
    font-size: 20px;
    /* font-style: oblique; */
    font-family: 'Times New Roman', Times, serif;
}
.crypto{
    display: flex;
    /* margin-top: 2rem; */
    /* justify-content: center; */
    width: 100vh;
}
.crypto b{
    display: inline-block;
}
.zero-button{
    background-color: none !important;
}
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: red;
    color: white;
}
.pre-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.pre-word{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pre-word h2{
    font-size: 18px;
    color: rgb(136, 14, 14);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-cashapp{
    width: 70%;
    height: 40px;
    background-color: #1ec376;
    color: white !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center ;
}

.btn-card{
    width: 70%;
    height: 40px;
    background-color: #1ec376;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    
}
}